
<div class="cards">
  <% @properties.each do |property| %>
<div class="card">
  <img src="" class="card-image" alt="">
    <div class="card-overlay">
    <div class="card-header">
      <h3 class="card-title">
        <%= link_to property_path(property) do %>
        <%=  property.name %>
          <% end %>
        </h3>
      <p class="card-description">
        <%= property.price %>
        <%= property.city %>
      </p>
    </div>
  </div>

</div>
<% end %>
</div>


<%= link_to 'Create a new property', new_property_path %>


<%= link_to 'Go back to search', root_path %>
</div>






<!--
<% @properties.each do |property| %>
<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= property.name  %> </h5>
    <p class="card-text"><%=  property.price %></p>
    <%= link_to properties_path(property) do %>
    <a href="#" class="btn btn-primary">Find out more</a>
    <% end %>
  </div>

  <%=  property.city %>



</div>
<% end %>

 -->
