<h1>The Digs Hub</h1>
<h5 class='pb-4'>Accomodation for theatre professionals made easy</h5>
<div class="grid">
<% @properties.each do |property| %>
 <%= link_to property_path(property) do %>
<div class="container">
  <div class="overlay">
    <div class = "items"></div>
    <div class = "items head">
      <h2><%= property.name %></h2>
      <hr>
    </div>
    <div class = "items price">
      <p class="old"><%= property.address %></p>
      <p class="new"><p>£<%= property.price %> p/n</p>
    </div>
    <div class="items cart">
      <i class="fa fa-shopping-cart"></i>
      <span>Book now!</span>
    </div>
  </div>
</div>
<% end %>
<% end %>

<%= link_to 'Go back to search', root_path %>
