
<div class="cards">
  <% @properties.each do |property| %>
<div class="card">
  <img src="" class="card-image" alt="">
    <div class="card-overlay">
    <div class="card-header">
      <h3 class="card-title">property.name</h3>
      <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor unde at, veniam laborum ab perspiciatis similique ex earum impedit necessitatibus magni itaque neque corrupti doloremque, a dicta vitae consequuntur?
      </p>
    </div>
  </div>

</div>
<% end %>
</div>







<!--
<% @properties.each do |property| %>
<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= property.name  %> </h5>
    <p class="card-text"><%=  property.price %></p>
    <%= link_to properties_path(property) do %>
    <a href="#" class="btn btn-primary">Find out more</a>
    <% end %>
  </div>

  <%=  property.city %>



</div>
<% end %>

<%= link_to 'Create a new property', new_property_path %>


<%= link_to 'Go back to search', root_path %>
</div>
 -->
